#result{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#activity{
    font-size: 24px;
    padding: 8px 16px;
    font-weight: 600;
    display: none;
}

#type{
    background-color:rgb(255, 0, 51);
    color: white;
    font-size: 16px;
    padding: 8px 16px;
    font-weight: 600;
    display: none;
}